/*
 *
 *=VARIANT-01
 *
 */
body.variant-01 {
	background: url(../images/backgrounds/background-01-640x450.png) no-repeat;
}
body.variant-01 div#question h1 {
	color: #fff;
	text-shadow: 1px 1px 2px #595959;
}
body.variant-01 a:link {
	color: #aef525;
}
div#show-next-startup {
	color: #fff;
	text-shadow: 1px 1px 2px #595959;
}
body.variant-01 div#answer {
	height: 280px;
	top: 40;
	color: #008000;
}

body.variant-01 div#answer a:link,
body.variant-01 div#answer a:visited {
	color: #F04ACE;
	font-weight: bold;
}
body.variant-01 div#answer a:hover {
	text-decoration: underline;
}
