[Desktop Entry]
Type=Application
Name=Huayra Bullets
Exec=huayra-bullets
OnlyShowIn=GNOME;
AutostartCondition=GSettings apps.huayra-bullets autostart
