/*
 *
 *=ANIMATION-01
 *
 */
div#animation.animation-01 div#globo {
	margin-top: -20px;
	width: 320px;
	height: 261px;
	cursor: pointer;
	background: url(../../images/animations/01/globo_amarillo-320x261.png) no-repeat;
}
div#animation.animation-01 div#globo:hover {
	background: url(../../images/animations/01/globo_violeta-320x261.png) no-repeat;
}
div#animation.animation-01 div#globo.clicked {
	cursor: default;
}
div#animation.animation-01 div#vaca {
}
div#animation.animation-01 div#vaca img {
	display: block;
	float: right;
}
