/*
 *
 *=EGG
 *
 */
div.egg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 *=EQUIPO-HUAYRA
 * 
 */ 
div#easter-egg-equipo-huayra {
	font-size: 1.0em;
	font-weight: normal;
	width: 430px;
	height: 260px;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px 200px 170px 10px;
	color: #000;
	text-shadow: 1px 1px 2px #fff;
	background: #fff url(../images/eggs/huevo-pascua-fondo-640x450.png) no-repeat;
}
div#easter-egg-equipo-huayra h1,
div#easter-egg-equipo-huayra h2,
div#easter-egg-equipo-huayra li strong,
div#easter-egg-equipo-huayra p {
	/*background: rgba(255, 255, 255, .4);*/
}
div#easter-egg-equipo-huayra h1 {
	font-size: 1.3em;
	margin: 0;
}
div#easter-egg-equipo-huayra h2 {
	font-size: 1.1em;
	margin: 20px 0 0;
}
div#easter-egg-equipo-huayra h3 {
	font-size: 1.0em;
	margin: 10px 0 0;
}
div#easter-egg-equipo-huayra p {
	font-size: 1.0em;
}
div#easter-egg-equipo-huayra div.personas p {
	font-size: 1.0em;
	margin: 0;
}
