/*
 *
 *=VARIANT-01
 *
 */
body.variant-01 {
	background: url(../../images/backgrounds/background-02-640x450.png) no-repeat;
}
body.variant-01 a:link,
body.variant-01 a:visited {
	color: #FC5DFF;
}
/*
 * WRAPPER
 * 
 */
body.variant-01 div#wrapper {
	border: 1px;
	border-color: red;
	border-style: transparent;
	width: 620px;
	height: 430px;
	margin: 0;
	padding: 0;
	position: relative;
}
/*
 *
 *=QUESTION
 *
 */
body.variant-01 div#question {
	width: 500px;
	height: 50px;
	position: absolute;
	top: 30;
	left: 40px;
}
body.variant-01 div#question h1 {
	width: 500px;
	color: #fff;
	text-shadow: 1px 1px 2px #595959;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0px auto 0;
	text-align: center;
}
/*
 *
 *=ACTIONS
 *
 */
body.variant-01 div#actions {
	border: 2px;
	border-color: blue;
	border-style: transparent;
	width: 600px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 20px;
}
body.variant-01 div#actions div.action {
	border: 2px;
	border-color: purple;
	border-style: transparent;
	width: 150px;
	float: left;
}
body.variant-01 div#actions div#close-app.inactive {
	opacity: 0.2;
}


body.variant-01 div#actions div#prev-bullet a:link {
	border: 3px;
	border-color: red;
	border-style: transparent;
	position: absolute;
	bottom: 0px;
	left: 220px;
	text-align: left;
	background: url(../../images/botones/anterior_normal.png) no-repeat;
	color: transparent;
}
body.variant-01 div#actions div#prev-bullet a:visited {
	background: url(../../images/botones/anterior_normal.png) no-repeat;
}
body.variant-01 div#actions div#prev-bullet a:active {
	background: url(../../images/botones/anterior_presionado.png) no-repeat;
}
body.variant-01 div#actions div#prev-bullet a:hover {
	background: url(../../images/botones/anterior_resaltado.png) no-repeat;
}


body.variant-01 div#actions div#next-bullet a:link {
	border: 2px;
	border-color: purple;
	border-style: transparent;
	position: absolute;
	bottom: 0px;
	right: 220px;
	background: url(../../images/botones/proximo_normal.png) no-repeat;
	float: right;
	text-align: right;
	color: transparent;
}
body.variant-01 div#actions div#next-bullet a:visited {
	background: url(../../images/botones/proximo_normal.png) no-repeat;
}
body.variant-01 div#actions div#next-bullet a:active {
	background: url(../../images/botones/proximo_presionado.png) no-repeat;
}
body.variant-01 div#actions div#next-bullet a:hover {
	background: url(../../images/botones/proximo_resaltado.png) no-repeat;
}


body.variant-01 div#actions div#close-app a:link {
	border: 2px;
	border-color: blue;
	border-style: transparent;

	float: right;
	width: 26px;
	height: 24px; 
	text-align: center;
	background: url(../../images/botones/cerrar_normal.png) no-repeat;
	position: absolute;
	bottom: 0px;
	right: 0px;

}
body.variant-01 div#actions div#close-app a:visited {
	background: url(../../images/botones/cerrar_normal.png) no-repeat;
}
body.variant-01 div#actions div#close-app a:active {
	background: url(../../images/botones/cerrar_presionado.png) no-repeat;
}
body.variant-01 div#actions div#close-app a:hover {
	background: url(../../images/botones/cerrar_resaltado.png) no-repeat;
}



body.variant-01 div#answer div#vaca-volve a:link,
body.variant-01 div#answer div#vaca-volve a:visited {
	background: url(../../images/botones/vaca-boton_normal.png) no-repeat;
}
body.variant-01 div#answer div#vaca-volve a:hover {
	background: url(../../images/botones/vaca-boton_resaltado.png) no-repeat;
}
body.variant-01 div#answer div#vaca-volve a:active {
	background: url(../../images/botones/vaca-boton_presionado.png) no-repeat;
}



/*=SHOW-NEXT-STARTUP */
body.variant-01 div#show-next-startup {
	border:2px;
	border-color:red;
	border-style:transparent;

	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Asap';
	font-size: .6em;
	color: #101010;
	text-shadow: none; /* 1px 1px 2px #595959;*/
}
/*
 *
 *=ANSWER / ANIMATIONS
 *
 */
body.variant-01 div#answer {

	width: 500px;
	height: 250px;
	color: #EBEBEB;
	position: absolute;
	top: 90px;
	left: 50px;
	text-align: justify;
	font-weight: normal;
	font-family: 'Asap', sans-serif;
	font-size: 1.0em;
	overflow-y: auto;
	overflow-x: none;
	margin: 0px;
	display: none; /* FIRST TIME */
}

body.variant-01 div#animation {
	border: 2px;
	border-color: yellow;
	border-style: transparent;

	width: 225px;
	height: 200px;
	position: relative;
	top: 110px;
	left: 200px;
}

body.variant-01 div#answer a:link,
body.variant-01 div#answer a:visited {
	color: #FAFAFA;
	font-weight: bold;
}
body.variant-01 div#answer a:hover {
	text-decoration: underline;
}
/* VACA-VOLVE */
body.variant-01 div#answer div#vaca-volve {
	border: 2px;
	border-color: yellow;
	border-style: transparent;

	width: 48px;
	height: 48px;
	position: absolute;
	bottom: 0px;
	right: 0;
	margin: 2px;
}
body.variant-01 div#answer div#vaca-volve a span {
	display: none;
}
body.variant-01 div#answer div#vaca-volve a {
	display: block;
	width: 48px;
	height: 48px;
}
body.variant-01 div#answer div#vaca-volve a:link,
body.variant-01 div#answer div#vaca-volve a:visited {
	background: url(../../images/botones/vaca-boton_normal.png) no-repeat;
}
body.variant-01 div#answer div#vaca-volve a:hover {
	background: url(../../images/botones/vaca-boton_resaltado.png) no-repeat;
}
body.variant-01 div#answer div#vaca-volve a:active {
	background: url(../../images/botones/vaca-boton_presionado.png) no-repeat;
}

