Source: huayra-bullets
Section: main
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0), nodejs
Standards-Version: 3.9.5
Homepage: http://huayra.conectarigualdad.gob.ar
Vcs-Git: https://github.com/HuayraLinux/huayra-bullets.git

Package: huayra-bullets
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, node-webkit (>= 0.11.2.4),
 huayra-fonts (>= 2.2), huayra-help (>= 0.3), node-replacestream
Conflicts: conectar-bullets
Replaces: conectar-bullets
Description: Visor de los bullets de ayuda
 Este paquete contiene los datos de ayuda y el visor de los mismos.
 El visor permite que los archivos de ayuda puedan lanzar programas.
