Source: huayra-bullets
Section: main
Priority: extra
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Uploaders: Fernando Toledo <ragnarok@docksud.cm.ar> 
Build-Depends: debhelper (>= 8.0.0), python-support
Standards-Version: 3.9.5
Homepage: http://huayra.conectarigualdad.gob.ar
Vcs-Git: http://github.com/huayralinux/huayra-identinet

Package: huayra-bullets
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.6), python-webkit, yelp
Conflicts: conectar-bullets
Replaces: conectar-bullets
Description: Visor de los bullets de ayuda
 Este paquete contiene los datos de ayuda y el visor de los mismos.
 El visor permite que los archivos de ayuda puedan lanzar programas.
