[Desktop Entry]
Version=1.0
Type=Link
Name=Informate sobre Grooming
Comment=Hablá en familia sobre grooming
Icon=help-hint
URL=https://www.argentina.gob.ar/grooming
