/*
 *
 *=ANIMATION-01
 *
 */
div#animation.animation-01 div#globo {
	margin-top: 0;
	width: 320px;
	height: 261px;
	cursor: pointer;
	background: url(../../images/animations/01/preguntas.png) no-repeat;
}
div#animation.animation-01 div#globo:hover {
	background: url(../../images/animations/01/preguntas.png) no-repeat;
}
div#animation.animation-01 div#globo.clicked {
	cursor: default;
}
div#animation.animation-01 div#vaca {
	margin-top: -40px;
}
div#animation.animation-01 div#vaca img {
	display: block;
	float: right;
}
