/*
 *
 *=ANIMATION-01
 *
 */
div#animation.animation-01 div#globo {
	margin-top: 100;
	width: 640px;
	height: 261px;
	cursor: pointer;
	float: center;
	background: url(../../images/animations/01/preguntas.png) no-repeat;
}
div#animation.animation-01 div#globo:hover {
	background: url(../../images/animations/01/preguntas_resaltado.png) no-repeat;
}
div#animation.animation-01 div#globo.clicked {
	cursor: default;
	background: url(../../images/animations/01/preguntas_presionado.png) no-repeat;
}
div#animation.animation-01 div#vaca {
	margin-top: -200px;
	margin-left: -50px;

}
div#animation.animation-01 div#vaca img {
	width: 225px;
	height: 153px;
	display: block;
	float: center;
}
